@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../Plugins/my-fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Raleway-Black-Italic';
  src: url('../Plugins/my-fonts/raleway-family-v3.0/Raleway-Black-Italic.ttf');
}
@font-face {
  font-family: 'OpenSans';
  src: url('../Plugins/my-fonts/OpenSans.ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../Plugins/my-fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../Plugins/my-fonts/raleway-family-v3.0/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('../Plugins/my-fonts/raleway-family-v3.0/Raleway-Light.ttf');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../Plugins/my-fonts/raleway-family-v3.0/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../Plugins/my-fonts/raleway-family-v3.0/Raleway-Regular.ttf');
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent !important;
  outline-width: 0!important;
  outline-style: none !important;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  width: 1400px;
  height: 800px;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}
.div0 {
  position: relative;
  display: block;
  width: 1433px;
  height: 817px;
  z-index: 49;
  border: 0px solid #000;
  overflow-x: auto;
  overflow-y: auto;
}
.div0:focus {
  z-index: 48;
  outline: 0;
}
button:active {
  outline: 0;
  outline-offset: 0;
}
.header1 {
  width: 1400px;
  height: 70px;
  background-color: black;
}
.header1 .AXIT {
  margin-left: 150px;
  height: 70px;
}
.AXIT {
  display: inline-block;
  height: auto;
  position: relative;
  text-align: center;
  padding-top: 0px;
  margin-left: 0px;
  font-size: 40px;
  color: #ff9b51;
  line-height: 70px;
}
.AXIT span:first-child {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
}
.div1 {
  width: auto;
  height: 70px;
  float: right;
  margin-right: 150px;
}
.button1 {
  display: inline-block;
  width: auto;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  margin-left: 40px;
  line-height: 70px;
  font-weight: 500;
  color: #b7b7b7;
  background-color: transparent;
  border: 0px solid red;
}
.button1:hover {
  text-decoration: underline;
}
.button1:active {
  color: #ff8b38;
}
.line {
  display: block;
  position: relative;
  width: 67px;
  height: 1px;
  border-bottom: 2px solid;
  border-color: #ffffff;
  margin: 36px 0px;
}
.font1 {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  font-family: Raleway;
}
.font2 {
  font-family: Raleway-Light;
  font-size: 14px;
}
.button2 {
  position: relative;
  width: 140px;
  height: 42px;
  border: 2px solid #fff;
  line-height: 37px;
  text-align: center;
  font-weight: 700;
  margin-top: 45px;
  padding-bottom: 4px;
  background-color: transparent;
}
.button2::after {
  position: absolute;
  content: "";
  margin-left: 12px;
  display: inline-block;
  height: 10px;
  width: 21px;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  -webkit-transform: translateX(36px) translateY(5px) scale(0.8) rotate(-45deg);
          transform: translateX(36px) translateY(5px) scale(0.8) rotate(-45deg);
  opacity: 0;
}
.button2.MyClick::after {
  opacity: 1;
  -webkit-transform: translateX(44px) translateY(5px) scale(1.75) rotate(-45deg);
          transform: translateX(44px) translateY(5px) scale(1.75) rotate(-45deg);
}
.Bg1 {
  position: relative;
  width: 1400px;
  height: 643px;
  background-image: url(../Img/BgScreen1.png);
  z-index: 50;
}
.list1 {
  width: 550px;
  height: auto;
  display: block;
  position: relative;
  margin-left: 150px;
  color: #ffffff;
}
.list1 .AXIT {
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 25px;
}
.list1 .AXIT span:first-child {
  font-size: 60px;
}
.list1 .font1 {
  font-size: 36px;
}
.list1 .font2 {
  color: #b7b7b7;
}
.form1 {
  display: block;
  position: absolute;
  width: 360px;
  height: 360px;
  border-radius: 5px;
  top: 140px;
  margin-left: 740px;
  background-color: #fff;
}
.form1 input {
  width: 290px;
  height: 60px;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  margin: 0px 35px;
  padding-left: 17px;
}
.form1 .button3 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 54px;
  background-color: #ff9b51;
  font-family: OpenSans-Semibold;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 54px;
  color: #fff;
  margin: 0;
  border: 0px solid;
  outline: 0 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.form1 .button3:active {
  color: #000;
}
.focusForm {
  -webkit-box-shadow: 0 0 5px 3px red;
          box-shadow: 0 0 5px 3px red;
}
.form_text1 {
  width: 100%;
  height: 54px;
  background-color: #f5f5f5;
  font-family: OpenSans-Bold;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 54px;
  border-radius: 5px 5px 0 0;
  color: #000;
}
.form_text1 span {
  color: #ff9b51;
}
.M-conteiner {
  width: 100%;
  height: 100%;
  padding-left: 10%;
}
.basement1 {
  display: block;
  width: 1400px;
  height: 105px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10%;
  z-index: 50;
}
.div3 {
  display: block;
  padding: 22px 0 22px 0;
}
.div3 .font3 {
  line-height: 1.5em;
  margin: -4px o o o;
}
.div3 .font3 span {
  line-height: 1.3em;
}
.font3 {
  font-size: 20px;
  font-weight: 800;
}
.font3 span {
  font-size: 14px;
  color: #a4a5a8;
  font-weight: 400;
}
.icon {
  display: inline-block;
  background-image: url(../Img/BgAll.png);
  width: 1400px;
  height: 5612px;
}
.Facebook {
  background-position: -585px 4882px;
  width: 90px;
  height: 60px;
}
.Twiter {
  background-position: -680px 4882px;
  width: 90px;
  height: 60px;
}
.Google {
  background-position: -775px 4882px;
  width: 90px;
  height: 60px;
}
.P {
  background-position: -870px 4882px;
  width: 90px;
  height: 60px;
}
.Instagram {
  background-position: -970px 4882px;
  width: 90px;
  height: 60px;
}
.Zmei {
  background-position: -1072px 4882px;
  width: 90px;
  height: 60px;
}
.Wifi {
  background-position: -1178px 4882px;
  width: 90px;
  height: 60px;
}
.Town {
  background-position: -910px 4642px;
  width: 390px;
  height: 390px;
}
.blok1 {
  position: absolute;
  display: block;
  padding-left: 10%;
}
.font4 {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}
.list2 {
  position: relative;
  display: block;
  width: 1400px;
  height: 600px;
  background-color: #f5f5f5;
  padding-top: 135px;
  z-index: 53;
}
.list2 .btn-group-vertical {
  float: left;
}
.list2 .btn-group-vertical button {
  font-weight: 600;
  color: #fff;
  width: 110px;
  height: 110px;
}
.list2 .btn-group-vertical:hover {
  cursor: default;
}
.btn.Mbtn1 {
  border-left: 0px solid;
  border-right: 0px solid;
  color: #fff;
  background-color: #000000;
  border-bottom: 2px solid #f5f5f5;
  margin-top: 0px !important;
}
.btn.Mbtn1:hover {
  background-color: #454545;
  border-bottom: 2px solid #f5f5f5;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
}
.btn.Mbtn1:active {
  background-color: #454545;
  color: #ff9b51;
  border-bottom: 2px solid #f5f5f5;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
}
.btn.Mbtn1:focus {
  border-bottom: 2px solid #f5f5f5;
}
.btn.Mbtn1.M-active {
  background-color: #ff9b51;
  border-bottom: 2px solid #f5f5f5;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
}
.btn.Mbtn1.M-active:hover {
  background-color: #ff9b51;
  border-top: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  color: #fff;
  cursor: default;
  border-bottom: 2px solid #f5f5f5;
  outline: 0;
}
.btn.Mbtn1.M-active:active {
  background-color: #ff9b51;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border-top: 0;
  color: #fff;
  border-bottom: 2px solid #f5f5f5;
}
.btn.Mbtn1.M-active:focus {
  background-color: #ff9b51;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border-top: 0;
  color: #fff;
  border-bottom: 2px solid #f5f5f5;
}
.btn-orang {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #ff9b51;
}
.content2 {
  font-size: 14px;
  font-weight: 400;
}
.content2 span {
  height: 44px;
  background-color: #f5f5f5;
  font-family: OpenSans-Bold;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 44px;
}
.content2 p {
  color: #a4a5a8;
  margin: 50px 0 45px 0;
}
.list3 {
  width: 1400px;
  height: 600px;
  padding-left: 10%;
  z-index: 54;
}
.div4 {
  background-position: -152px 4074px;
  width: 453px;
  height: 303px;
  margin-top: 130px;
  -webkit-box-shadow: 0px 9px 25px 2px #a4a5a8;
          box-shadow: 0px 9px 25px 2px #a4a5a8;
}
.div5 {
  margin-top: 130px;
}
.div5 > p:first-child {
  font-weight: 800;
  font-size: 20px;
  font-family: 'OpenSans-Bold', sans-serife;
}
.div5 .line {
  border-color: #ff9b51;
  margin: 26px 0;
}
.media-body-1 {
  padding: 10px;
}
.icon2,
.icon3 {
  float: left;
  margin: 0 0 0 0;
  overflow: hidden;
  position: relative;
  width: 60px;
  height: 60px;
  border: 0px solid #ccc;
}
.icon2 img {
  position: absolute;
  top: -1688px;
  left: -788px;
}
.List4 {
  width: 1400px;
  height: 880px;
  background-color: #f5f5f5;
  padding-left: 10%;
  padding-top: 105px;
  z-index: 55;
}
.header4 > p:nth-child(1) {
  font-size: 28px;
  line-height: 28px;
}
.header4 .line {
  position: relative;
  border-color: #ff9b51;
  margin: 26px 0;
}
.divL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.div41 {
  margin-top: 80px;
}
.price {
  width: 345px;
  color: #a4a5a8;
  background-color: #fff;
}
.price tr {
  height: 40px;
}
.price tr td {
  border-bottom: 1px solid #f5f5f5;
}
.price tr:nth-child(2) td {
  border-bottom: 0px solid;
}
.price1 {
  margin-top: 37px;
}
.bord_bot1 {
  font-weight: 700;
  border-bottom: 2px solid #f5f5f5;
  color: #ffffff;
  background-color: #000000;
}
.bord_bot1 td {
  height: 60px;
}
.bord_bot2 {
  border-bottom: 5px solid #ff9b51;
  color: #ffffff;
  background-color: #000000;
}
.bord_bot2 td {
  height: 155px;
}
.bord_bot2 em {
  color: #a4a5a8;
}
.bord_bot3 {
  border-bottom: 1px solid #ff8b38;
  color: #ffffff;
  background-color: #000000;
}
.bord_bot3 td {
  height: 155px;
}
.bord_bot3 em {
  color: #a4a5a8;
}
.doll1 {
  font-size: 34px;
}
.doll2 {
  font-size: 60px;
}
.doll3 {
  font-size: 60px;
}
.fw600 {
  font-weight: 600;
}
.M-orang-1 {
  color: #fff;
  background: #ff8b38;
}
.people-coment {
  margin-left: 30px;
}
.icon3 {
  width: 71px;
  height: 71px;
}
.icon3 img {
  position: absolute;
  top: -4426px;
  left: -957px;
}
.popup-bottom-corner {
  background: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  padding: 25px 15px 25px 10px;
  width: 270px;
  height: 135px;
  margin-bottom: 18px;
  line-height: 1.4em;
}
.popup-bottom-corner:after {
  content: '';
  border: 12px solid transparent;
  border-top: 12px solid #ffffff;
  position: absolute;
  left: 25px;
  margin-left: 0px;
  bottom: -24px;
  width: 0;
}
.MyScroll,
.MyScroll .BtnUp,
.MyScroll .BtnDown {
  width: 16px;
  height: 100%;
  position: fixed;
  display: block;
  right: 0;
  background-color: #d6d6d6;
  color: #d6d6d6;
  z-index: 11999;
  border-radius: 8px;
  padding: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 32px;
}
.MyScroll .BtnUp,
.MyScroll .BtnDown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 32px;
  background-color: #ef7b28;
  border: 0px solid green;
  z-index: 12100;
}
.MyScroll .BtnUp:active {
  outline: 0!important;
  outline-offset: 0;
}
.MyScroll .BtnDown {
  right: 0px;
  bottom: 0px !important;
}
.MyScroll .BtnDown:active {
  outline: 0!important;
  outline-offset: 0;
}
.MyScroll #Scrollfield {
  position: fixed;
  width: 100%;
  min-height: 32px;
  top: 32px;
  background-color: transparent;
}
.MyScroll #Scrollfield .Slider {
  position: relative;
  display: block;
  width: 16px;
  top: 0;
  border: 0px solid #a4a5a8;
  border-radius: 8px;
  background-color: #ef7b28;
  z-index: 12100;
}
@media (max-width: 768px) {
  .MyScroll,
  .MyScroll .BtnUp,
  .MyScroll .BtnDown {
    display: none;
  }
}
